@import "_null";
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,700);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
@font-face {
    font-family: "Kyiv Type Sans";
    src: url(../fonts/KyivTypeSans-Medium.woff2);
    src: url(../fonts/KyivTypeSans-Medium.woff);
}
@import url(https://fonts.googleapis.com/css?family=Saira:500,700);
@import "_home";
@import "contact";
@import"prices";
@import"about_us";
@import"gallery";